.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-size: $default-font-size;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s ease-in;
    position: relative;
    border: 0.3rem solid transparent;
    cursor: pointer;
  }
  &:hover,
  &:focus
  {
    transform: translateY(-0.3rem);
    box-shadow: $shadow2;

    // &::after {
    //   transform: scaleX(1.4) scaleY(1.6);
    //   opacity: 0;
    // }
  }
    &:active
  {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    border: 0.3rem solid $color-primary;
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
    &:active {
      // border: 1px solid $color-primary;
    }
  }

  &--primary {
    // background-image: linear-gradient(
    //   to right bottom,
    //   rgba($color-blue-light, 0.85),
    //   rgba($color-blue-dark, 0.85)
    // );
    background-color: $color-blue-light;

    color: $color-white;
    &:focus {
      border: none;
    }
  }

  // &::after {
  //   content: "";
  //   display: inline-block;
  //   height: 100%;
  //   width: 100%;
  //   border-radius: 10rem;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  //   transition: all 0.1s ease-in;
  // }

  &--animated {
    animation: move-in-bottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
    /* it applies the styles contained in the 0%  animation keyframe to the element, before the animation even starts playing.*/
  }
  &--text {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all 0.2s;
      &:hover {
        background-color: $color-primary-dark;
        color: $color-white;
        box-shadow: $shadow2;
        transform: translateY(-2px);
      }
      &:active {
        box-shadow: $shadow2;
        transform: translateY(0px);
      }
    }
  }
}
