.story {
  min-height: 20rem;
  width: 60%;
  margin: 0 auto;
  box-shadow: $shadow2;
  background-color: rgba($color-white, .4);
  border-radius: 3px;
  padding: 7rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include media(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

    @include media(phone) {
     transform: skewX(0);
    }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
          -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
          -webkit-shape-outside: circle(50% at 50% 50%);
          shape-outside: circle(50% at 50% 50%);
          border-radius: none;
        }

        @include media(phone) {
          transform: translateX(-3rem) skewX(0);
        }
  }
  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.3);
    backface-visibility: hidden;
    transition: all 0.5s ease-out;

       @include media(phone) {
     transform: skewX(0);
    }
  }

  &__text {
    // height: 100%;
    transform: skewX(12deg);

     @include media(tab-port) {
         transform: skewX(0);
     }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: transform 0.5s ease-out;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    -webkit-filter: blur(3px);
    filter: blur(3px) brightness(80%);
  }
}
